body {
	background-image: url("img/background-photo.JPG");
	background-size: 100% auto;
    font-family: "Avenir Next";
    position: relative;
}

h1, h2, h3 {
	color: #FFF;
}

.center {
	text-align: center;
}

input[type=text] {
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    width: 20%;
    color: #FFF;
}


a {
    background-color: #7e7e7e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

label {
	color: #FFF;
	font-size: 15px;
}

div#healthy_resources{
    position: absolute;
    top: 0px;
    left: 0px;

}

div#settings{
    position: fixed;
    bottom: 10px;
    left: 10px;
    
}

div#events{
    position: absolute;
    top: 0px;
    right: 0px;
    
}