body {
	/*background-image: url("img/background-photo.JPG");*/
	background-size: 100% auto;
    font-family: "Avenir Next";
    position: relative;
    -webkit-text-stroke: 0.1px black;

}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

a, h1, h2, h3 {
	color: #FFF;
  -webkit-text-stroke: 1px black;

}

a{
  font-size: 20px;
  -webkit-text-stroke: 0.5px black;
}

h3#event_heading{
    float: left;
}

p#quote{
    color:#FFF;
    font-style: italic;
}



input[type=text] {
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    width: 20%;
    color: #FFF;
}


a{
   color: white;
   font-weight: bold; 
}

input#begin_button, input#toggleHW, input#load_data{
    background-color: #7e7e7e;
    color: white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    width: 50%;
    cursor: pointer;
    font-size: 14px;
}

input#toggleHW{
    width: 20%;
}

label {
	color: #FFF;
	font-size: 15px;
}

div#healthy_resources{
    position: absolute;
    top: 0px;
    left: 0px;

}

div#recipe{
    position: fixed;
    top: 10%;
    left: 2%;
    color: white;
}

a#healthy_resources{

}

div#settings{
    position: fixed;
    bottom: 10px;
    left: 10px;
    
}

button#settings{
    background: transparent;
    border-color: transparent;
    width: 15%;
    height: 30%;

}

img#settings{
    width: 50px;
    height: 50px;
}

img.event{
    width: 15%;
    height: 15%;   
}

img#downarrow{
    width: 10%;
    height: 10%; 
}

p.event{
    color: white;
}

button#edit, button#editEventButton, button#settings, button#settingsButton{
    background: transparent;
    border-color: transparent;
}

div#events{
    position: fixed;
    top: 0px;
    right: -200px;
    
}

/*button.settingsButton{
    width: 7%;
    height: 7%;
}*/





/*Base Code From: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form.box{
    padding: 20px;
    width: 50%;
    background: rgba(54, 25, 25, .5);
    margin: auto;
}

div.box{
    padding: 10px;
    width: 30%;
    background: rgba(54, 25, 25, .5);
    margin: auto;
}

/*img.rec_image {
  position: fixed;
  left: 45%;
}*/

.center {
    text-align: center;
}

#container {
    float:left;
    width:100%;
}
#col1 {
    float:left;
    width:50%;
}
#col2 {
    float:left;
    width:50%;
}

input#setting{
    text-align: left
}

/*on-off switch*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  position: absolute;
  float: right;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.card .card-image {
  position: relative;
}

.card .card-image .card-title {
  color: #fff;
  text-shadow: 0 0 3px #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}

img#rec_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}

.card-text{
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a#rec_href{
  display: block;
    margin-left: auto;
    margin-right: auto
}

p#quote{
  font-size: 18px;
      text-shadow: 2px 2px #696969;

}


.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}

a {text-decoration: none; }

a#rec_href{
  -webkit-text-stroke: 0px black;
}